* {
    margin: 0;
    padding: 0;
}

.App {
    width: 350px;
    background-color: #F4F4F5;
    padding: 10px;
    position: absolute;
    right: 50%;
    bottom: 70%;
    transform: translate(50%, 50%);
    border-radius: 25px;
}

.appHead {
    height: 50px;
    text-align: center;
}

.AddTask {
    padding: 10px;
}

.AddTask input {
    height: 30px;
    width: 225px;
    border: 1px solid black;
    padding: 0 10px;
    margin-right: 3px;
    border-radius: 5px;
}

.AddTask button {
    height: 31px;
    background-color: #1D4ED8;
    width: 80px;
    cursor: pointer;
    color: white;
    border: 1px solid #1D4ED8;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
}

.AddTask button:hover {
    background-color: blue;
}

.warning {
    font-size: 14px;
    text-align: center;
    color: orangered;
}

.Tasks {
    list-style-type: none;
}

.noTodo {
    text-align: center;
    color: #A1A1AA;
}

.task {
    background-color: white;
    height: 25px;
    margin: 10px;
    text-align: center;
    border: 1px solid black;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    user-select: none;
    border-radius: 10px;
}

.taskDone {
    text-decoration: line-through;
    color: lightgray;
}

.checkbox-inp {
    zoom: 1.35;
    width: 20px;
    cursor: pointer;
}

.delete-btn {
    color: red;
    font-size: 15px;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

.delete-btn:hover {
    border: 1.5px solid red;
    border-radius: 5px;
}